.nodeIconSize {
  width: 25px;
  height: 33px;
}

.mat-tree-node {
  min-height: 10px !important;
  margin-top: -5px !important;
}

.node-align {
  display: flex;
  align-items: flex-start;
  align-self: flex-start
}
