/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

@font-face {
  font-family: 'Dana';
  src: url(./assets/dana-regular.woff);
}


* {
  font-family: 'Dana', Courier, monospace
}
